:root{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    --gray-one: #C4C4C4;
    --blue-one: #447EED;
}

input{
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 10px;
    min-height: 50px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button{
    background-color: var(--blue-one);
    outline: none;
    border: none;
    border: 5px;
    margin-top: 10px;
    min-height: 50px;
    cursor: pointer;
}

::placeholder{
    opacity: .5;
    font-size: 12pt;
}
