:root{
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    --gray-one: #C4C4C4;
    --blue-one: #447EED;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
