input{
    margin: 5px;
    width: 75%;
    height: 25px;
}

#form-submit{
    color: white;
    font-weight: 600;
    font-size: 16pt;
    width: 75%;
    height: 25px;
    border-radius: 5px;
    margin-top: 40px;
}
#login-form-wrapper{
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
}

