input{
    margin: 2.5px;
    width: 75%;
    height: 25px;
}

#form-submit{
    color: white;
    font-weight: 600;
    width: 75%;
    height: 25px;
    border-radius: 5px;
}
#login-form-wrapper{
    flex-direction: column;
    width: 100%;
}

